.dashboardList {
  background-color: white;
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 5px;
}

.dashboardList__title {
  padding: 0.5rem 0;
}

.dashboardList__btn {
  padding: 0.5rem 0.5rem;
  background-color: rgba(0, 0, 0, 0.04);
  box-shadow: 0px 0px 5px 0px rgba(4, 89, 75, 0.3);
  border-radius: 5px;
  background-color: rgb(var(--detail-green));
  cursor: pointer;
  color: rgb(12, 36, 32);
}
