/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100vh;
}

body {
  /* Variables */
  --background: 238, 254, 249;
  --nav-bg: 250, 235, 220;
  --nav-detail: 255, 180, 120;
  --detail-green: 11, 218, 180;
  --detail-green-clear: 152, 249, 224;
  --utility-green: 15, 208, 164;
  --utility-green-hover: 38, 249, 185;

  background-color: rgb(245, 245, 245);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
